.container {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-evenly;
}

.navigation {
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

.content {
    padding: 20px;
    margin-right: 100px;
    margin-left: 350px;
    width: 100vh;
    
}

li.active {
    font-weight: bold;
}

li.inicio {
    font-size:x-large;
}

.navigation ul hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}