.container {
    display: flex;
    flex-direction: row;
}

.navigation {
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    position: fixed; /* Mantiene el panel izquierdo fijo */
    top: 0; /* Ajusta la posición vertical del panel izquierdo */
    left: 0; /* Ajusta la posición horizontal del panel izquierdo */
    bottom: 0; /* Ajusta la altura del panel izquierdo para que ocupe toda la ventana */
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}

.content {
    padding: 20px;
    margin-left: 250px; /* Deja un espacio en el contenido para el panel izquierdo */
     /* Agrega una barra de desplazamiento vertical al contenido */
    width: 100vh;
    height: 100vh;
}

li.active {
    font-weight: bold;
}

li.inicio {
    font-size:x-large;
}

.navigation ul hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}