<!DOCTYPE html>
<html>
<head>
    <title>Curso de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="../Static/curso.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="inicio"><a href="Index.html">Inicio</a></li>
                <hr>
                <li><a href="curso1.html">Introducción a la Ciberseguridad</a></li>
                <li class="active"><a href="curso2.html">Fundamentos de Seguridad de la Información</a></li>
                <li><a href="curso3.html">Tipos de Amenazas Cibernéticas</a></li>
                <li><a href="curso4.html">Medidas de Protección y Buenas Prácticas</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Fundamentos de Seguridad de la Información</h1>
            <h2>Confidencialidad, integridad y disponibilidad</h2>
            <p>La seguridad de la información se basa en tres principios fundamentales:</p>
            <ul>
                <li>Confidencialidad: garantizar que la información solo esté disponible para las personas autorizadas.</li>
                <li>Integridad: asegurar que la información sea precisa, completa y no se haya modificado de manera no autorizada.</li>
                <li>Disponibilidad: garantizar que la información esté disponible y accesible cuando sea necesario.</li>
            </ul>

            <h2>Principios básicos de seguridad de la información</h2>
            <p>Algunos de los principios básicos de seguridad de la información incluyen:</p>
            <ul>
                <li>Principio de necesidad mínima: acceder y utilizar solo la información necesaria.</li>
                <li>Principio de defensa en profundidad: utilizar múltiples capas de seguridad.</li>
                <li>Principio de responsabilidad compartida: todos los usuarios son responsables de la seguridad.</li>
            </ul>

            <h2>Gestión de contraseñas seguras</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I2pblc9FdmI?si=bDeM96AJQ1um2JdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>La gestión de contraseñas seguras es fundamental para proteger la información. Algunas prácticas recomendadas incluyen:</p>
            <ul>
                <li>Usar contraseñas largas y complejas.</li>
                <li>No reutilizar contraseñas en diferentes servicios.</li>
                <li>Utilizar autenticación de dos factores cuando esté disponible.</li>
            </ul>

            <h2>Privacidad y protección de datos personales</h2>
            <p>La privacidad y protección de datos personales son aspectos clave de la seguridad de la información. Es importante seguir las regulaciones y buenas prácticas para proteger la privacidad de las personas y evitar el mal uso de los datos.</p>
        </div>
    </div>
</body>
</html>