<!DOCTYPE html>
<html>
<head>
    <title>Curso de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="../Static/curso.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="inicio"><a href="Index.html">Inicio</a></li>
                <hr>
                <li><a href="curso1.html">Introducción a la Ciberseguridad</a></li>
                <li><a href="curso2.html">Fundamentos de Seguridad de la Información</a></li>
                <li><a href="curso3.html">Tipos de Amenazas Cibernéticas</a></li>
                <li class="active"><a href="curso4.html">Medidas de Protección y Buenas Prácticas</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Medidas de Protección y Buenas Prácticas</h1>
            <h2>Actualización de software y sistemas operativos</h2>
            <p>Mantener el software y los sistemas operativos actualizados es esencial para protegerse contra vulnerabilidades conocidas y corregir fallos de seguridad.</p>

            <h2>Uso de firewalls y software antivirus</h2>
            <p>Los firewalls y el software antivirus ayudan a detectar y bloquear amenazas cibernéticas. Es importante utilizar soluciones confiables y mantenerlas actualizadas.</p>

            <h2>Creación de copias de seguridad (backups)</h2>
            <p>Hacer copias de seguridad regularmente es una medida crucial para proteger la información en caso de pérdida de datos debido a un ataque o fallo del sistema. Las copias de seguridad deben almacenarse en ubicaciones seguras y probadas para garantizar su integridad.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5cwtolIyV9M?si=T23DUC0heOHNlXH7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OZBjuqU8crs?si=Q-SHwbZc6rZGlCGN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2>Uso seguro de redes Wi-Fi públicas</h2>
            <p>Al conectarse a redes Wi-Fi públicas, es recomendable tomar precauciones, como utilizar conexiones cifradas y evitar enviar información confidencial o acceder a cuentas sensibles.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uKNcqM0ZBEw?si=mjrnGj0wS7BYgzYN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>