<!DOCTYPE html>
<html>
<head>
    <title>Curso de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="../Static/curso.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li><a href="Index.html">Inicio</a></li>
                <li><a href="curso1.html">Introducción a la Ciberseguridad</a></li>
                <li><a href="curso2.html">Fundamentos de Seguridad de la Información</a></li>
                <li><a href="curso3.html">Tipos de Amenazas Cibernéticas</a></li>
                <li><a href="curso4.html">Medidas de Protección y Buenas Prácticas</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Introducción a la Ciberseguridad</h1>
            <h2>¿Qué es la ciberseguridad?</h2>
            <p>La ciberseguridad se refiere a las prácticas, medidas y tecnologías utilizadas para proteger los sistemas informáticos, redes y datos contra ataques cibernéticos. Su objetivo es prevenir el acceso no autorizado, el uso indebido, la divulgación, la interrupción o la destrucción de la información.</p>

            <h2>Importancia de la ciberseguridad en la actualidad</h2>
            <p>En la actualidad, la ciberseguridad es de vital importancia debido al creciente número y sofisticación de los ataques cibernéticos. La dependencia de la tecnología y la interconexión de los sistemas informáticos hacen que las organizaciones y los individuos sean vulnerables a amenazas que pueden causar graves daños económicos, reputacionales y personales. La ciberseguridad ayuda a proteger la confidencialidad, integridad y disponibilidad de los datos y sistemas.</p>

            <h2>Amenazas y riesgos cibernéticos más comunes</h2>
            <p>Algunas de las amenazas y riesgos cibernéticos más comunes incluyen:</p>
            <ul>
                <li>Ataques de malware, como virus, ransomware y troyanos.</li>
                <li>Phishing y suplantación de identidad.</li>
                <li>Ataques de denegación de servicio (DDoS).</li>
                <li>Violaciones de datos y robo de información personal.</li>
                <li>Ingeniería social y ataques de ingeniería inversa.</li>
                <li>Vulnerabilidades en software y sistemas operativos.</li>
            </ul>

            <h2>Breve historia de la ciberseguridad</h2>
            <p>La ciberseguridad ha evolucionado junto con el avance de la tecnología y los ataques cibernéticos. En sus inicios, se centraba principalmente en la protección de sistemas aislados y el cifrado de datos. Con la expansión de las redes y el surgimiento de Internet, la ciberseguridad se convirtió en un desafío más complejo debido a la mayor superficie de ataque. A lo largo de los años, se han desarrollado estándares, prácticas y tecnologías para abordar las crecientes amenazas y proteger los sistemas y datos en un entorno digital cada vez más interconectado.</p>
        </div>
    </div>
</body>
</html>