<!DOCTYPE html>
<html>
<head>
    <title>Curso de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="../Static/curso.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="inicio"><a href="Index.html">Inicio</a></li>
                <hr>
                <li><a href="curso1.html">Introducción a la Ciberseguridad</a></li>
                <li><a href="curso2.html">Fundamentos de Seguridad de la Información</a></li>
                <li class="active"><a href="curso3.html">Tipos de Amenazas Cibernéticas</a></li>
                <li><a href="curso4.html">Medidas de Protección y Buenas Prácticas</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Tipos de Amenazas Cibernéticas</h1>
            <h2>Malware: virus, troyanos, ransomware</h2>
            <p>El malware es un software malicioso diseñado para dañar, acceder o controlar un sistema de manera no autorizada. Algunos tipos comunes de malware incluyen virus, troyanos y ransomware.</p>

            <h2>Ataques de phishing y ingeniería social</h2>
            <p>El phishing y la ingeniería social son técnicas utilizadas para engañar a las personas y obtener información confidencial. Los ataques de phishing involucran el envío de correos electrónicos fraudulentos que parecen legítimos, mientras que la ingeniería social implica manipular a las personas para obtener informaciónsensible o acceso no autorizado a sistemas.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M2HaMR3H0Cg?si=aApwnBX_GxfxCihj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2>Ataques de denegación de servicio (DDoS)</h2>
            <p>Los ataques de denegación de servicio tienen como objetivo abrumar un sistema o red con tráfico o solicitudes maliciosas, lo que resulta en la interrupción o degradación del servicio para los usuarios legítimos.</p>

            <h2>Intrusiones y ataque a sistemas</h2>
            <p>Las intrusiones y los ataques a sistemas implican intentos de acceder o comprometer sistemas informáticos y redes sin autorización. Esto puede incluir la explotación de vulnerabilidades de seguridad o el uso de técnicas avanzadas de hacking.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PN0j35dbG-8?si=9uex43zTjdeok3jG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>