<!DOCTYPE html>
<html>
<head>
    <title>Página de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>Bienvenido al curso de Ciberseguridad</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Curso de introduccion a la ciberseguridad</a></li>

            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <section>
        <h2>Acerca de Nosotros</h2>
        <p>Somos una empresa especializada en servicios de ciberseguridad. Ofrecemos soluciones para proteger tus datos y sistemas contra amenazas cibernéticas.</p>
    </section>
    <section>
        <h2>Servicios</h2>
        <ul>
            <li>Pruebas de penetración</li>
            <li>Análisis de vulnerabilidades</li>
            <li>Consultoría de seguridad</li>
        </ul>
    </section>
    <footer>
        <p>© 2024 Página de Ciberseguridad. Todos los derechos reservados.</p>
    </footer>
</body>
</html>